body{
	background: #161A2F;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
	
.list {
	background: linear-gradient(#e2e0f1, #E6EAFF);
	width: 290px;
	border-radius: 35px;
	border: double 2px #A0A6F3;
	padding: 25px;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
}

.solid-border{
	color: white;
	background: linear-gradient(#323031, #262A2F);
	border-radius: 80px;
	border: double 5px #A0A6F3;
}

.card {
	color: black;
	background: linear-gradient(#E6EBFF, #b5c3e4);
	border-radius: 30px;
	border: double 2px #7076C3;
}

.task{
	align-items: center;
	width: 90%;
	position: relative;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	left: 10%;
}

.task:hover{
	cursor: grab;
}

.id{
	max-height: 60%;
	width: 26%;
	position: fixed;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	top: 20%;
	left: 37%;
}

.msg{
	position: fixed;
	width: 100%;
	text-align: right;
	top: 1%;
	right: 1%;
	color: lightblue;
}

.alert{
	position: fixed;
	width: 100%;
	text-align: center;
	top: 9%;
	color: red;
}