<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <style>
        th, td {
            padding: 5px;
        }
        td span  {
            font-size:90%;
            font-style: italic;
            color: red;
        }
        .error {
            color: red;
            font-style: italic;
        }
    </style>
</head>
<body>

<!-- Include _menu.html
<th:block th:include="/_menu"></th:block>-->

<h2>Register</h2>

<div th:if="${errorMessage != null}"
     th:utext="${errorMessage}" class="error">...</div>

<form th:action="@{/personne/register}" th:object="${appUserForm}" method="POST">
    <table>
        <tr>
            <td>Nom</td>
            <td><input type="text" th:field="*{nom}" /> </td>
        </tr>
        <tr>
            <td>Prénom</td>
            <td><input type="text" th:field="*{prenom}" /> </td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" th:field="*{password}" /> </td>
        </tr>
        <tr>
            <td>Role</td>
            <td>
                <select th:field="*{role}">
                    <option value=""> -- </option>
                    <option th:each="rolePersonne : ${Roles}"
                            th:value="${rolePersonne.idRole}"
                            th:utext="${rolePersonne.nom}"/>
                </select>
        </tr>
        <tr>
            <td><input type="hidden" th:field="*{idPersonne}" /> </td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Submit" />
                <a th:href="@{/}">Cancel</a>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
</form>

</body>
</html>