<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <style>
        th, td {
            padding: 5px;
            border: double 2px #A0A6F3;
        }
        td span  {
            font-size:90%;
            font-style: italic;
            color: red;
        }
        .error {
            color: red;
            font-style: italic;
        }
    </style>
</head>
<body>


<table>
    <tr>
        <td>Nom</td>
        <td>Prénom</td>
        <td>Role</td>
    </tr>
    <tr th:each="user : ${userList}">
        <td th:text="${user.nom}"></td>
        <td th:text="${user.prenom}"></td>
        <td th:text="${user.role.nom}"></td>
        <!-- <td><a data-toggle="modal" data-target="#editModal"><span class="glyphicon glyphicon-edit"></span></a></td> -->
    </tr>
</table>


</body>