<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Todolit : nouvel inscrit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
	<div class="msg" th:text="'Hello, ' + ${msg} + '!'"></div>
	<!-- >div class="alert" th:text="'Hello, ' + ${alert} + '!'"></div-->

	<!--div class="alert" th:if="${err != null}"
     th:utext="${err}">...</div-->

	<div class="list">	
		<h5>To do list</h5>
		<th:block th:if="${todoTasks != null}" th:each="todoTask : ${todoTasks}">

			<div class="card task">
				<p style="font-style: italic; text-align:left;" th:utext="${todoTask.dateCreation}"></p>
				<p style="font-weight: bolder;" th:utext="${todoTask.titre}"></p>
				<hr>
				<p th:utext="${todoTask.texte}"></p>
				<p style="font-style: italic; text-align:right;" th:utext="${todoTask.personne.prenom} + ' ' + ${todoTask.personne.nom}"></p>
			</div>
			
		</th:block>
	</div>

	<div class="list">	
		<h5>Done list</h5>
		<th:block th:if="${doneTasks != null}" th:each="doneTask : ${doneTasks}">

			<div class="card task">
				<p style="font-style: italic; text-align:left;" th:utext="${doneTask.dateCreation}"></p>
				<p style="font-weight: bolder;" th:utext="${doneTask.titre}"></p>
				<hr>
				<p th:utext="${doneTask.texte}"></p>
				<p style="font-style: italic; text-align:right;" th:utext="${doneTask.personne.prenom} + ' ' + ${doneTask.personne.nom}"></p>
			</div>
			
		</th:block>
</body>
</html>

